// Quick Chat Demo

@import 'helpers'

#demo  
  #myMessage, #chatlog
    border none
    // box-shadow inset 0 0 2px #777
    round 5px
  #myMessage
    width 690px
    padding 5px
    margin 10px
  #chatlog

    // width 700px
    // background-color white
    // margin 5px 0  
    p:first-child
      padding-top 9px
    p:last-child
      padding-bottom 9px
    span.message
      padding-left .75ex
    span.time
      color #666
      float right
      width 70px
      text-align right
      font-size 0.8em
      border-left 1px solid green
    